@media screen and (max-width: 576px) {
  body {
    font-size: small;
  }
  .img-a {
    display: none;
  }
  .nav-container {
    display: block;
    width: 576px;
  }
  .container {
    display: block;
    max-width: 576px;
  }
  .alt1 {
    padding: auto;
  }
  .prj {
    width: 576px;
  }
  .container1 {
    width: auto;
  }
   .banner-img {
    width: 570px;
  }
  .name {
    font-size: 20px;
    transform: translate(20%, 50%);
  }
  #banner span {
    font-size: 20px;
    transform: translate(20%, 120%);
}
  #footer{
    width: 576px;}
}
